body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board{
  position: relative;
}

.board-row {
  display: table;
  border: 1px solid transparent;
  border-collapse: collapse; 
}

.board-row:nth-of-type(2){
  border-top-color: #999;
  border-bottom-color: #999;
}

.board-row:after {
  clear: both;
  content: "";
}

.board-winner {
  position: absolute;
  height: 102px;
  width:  102px;
  top: -76px;
}

.board-winner-text {
  font-size: 120px;
  height: 102px;
  width:  102px;
  line-height: 0.85rem;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  /*background: #fff;*/
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:nth-of-type(2) {
  border-left-color: #999;
  border-right-color: #999;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

